@media screen and (max-width: 600px){
  nav{
    flex-direction: column;
    margin-top: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  .container-icon .menu-btn i{
    display: block;
    margin-top: -80px;
    margin-left: 300px;
  }
  nav ul{

    position: fixed;
    top: 100px;
    left: -100%;
    color: #fff;
    height: 40vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: -100%;
 }
  nav ul li {
    margin: 40px 0;
    
  }
  nav ul li a {
    font-size: 1.25 rem;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;

  }
  .nav-img{
    justify-content: left;
    margin-right: 100%;
  }
  .destination-img .img-1,
  .destination-img .img-2,.destination-img 
  .img-3{
    flex-wrap: wrap;
  }
  .banner-input{
    background: none;
    flex-direction: column;
    gap: 15px;
    padding: 15px 15px;
  }
  .service-img-3{
    margin-left: 40px;
    margin-right: 40px;
  }
.popular{
  flex-direction: column;
  margin-bottom: 20px;
}
.popular-img{
  width: 100%;
  margin-top: 20px;

}
.discount-card-1{
  width: 90%;
}
.discount-card-2{
  width: 90%;
}
.discount-card-3{
  width: 90%;
}
.place{
  flex-direction: column;
}
.place-img img {
  width: 200%;
}

}
